{% extends 'website/layout2.html' %}
{% load static %}
{% load mathfilters %}
{% load humanize %}

<head>
    <title>
        {% block title %}
        Pitch my Idea | Chat: {{other_user.username}}
        {% endblock %}
    </title>
</head>


{% block body %}
    <div class="max-width">
        <div class="allchats">
            <div class="chatslist">
                <div class="allchatheading">
                    <h2>All Chats</h2>
                </div>
                <div class="chatslists">
                    {% for chat in chats %}
                        {% if chat.visitor.id != request.user.id or chat.owner.id != request.user.id %}
                            {% if request.user == chat.owner %}
                                <a href="{% url 'chatroom' chat.post.id chat.visitor.id request.user.id%}">
                                    <div class="specificchat">
                                        <p class="username">{{chat.visitor.username}}</p>
                                        <p class="posttitle">{{chat.post.title}} <span>[your idea]</span></p>
                                        <p class="unreceivedmsg">{% if chat.lastsent != request.user %}{{chat.notification}}{% endif %}</p>
                                    </div>
                                </a>
                            {% else %}
                                <a href="{% url 'chatroom' chat.post.id chat.owner.id request.user.id %}">
                                    <div class="specificchat">
                                        <p class="username">{{chat.owner.username}}</p>
                                        <p class="posttitle">{{chat.post.title}}</p>
                                        <p class="unreceivedmsg">{% if chat.lastsent != request.user %}{{chat.notification}}{% endif %}</p>
                                    </div>
                                </a>
                            {% endif %}
                        {% endif %}
                        {% empty %}
                            <p class="nochat">No Chats to show</p>
                    {% endfor %}
                </div>
                
            </div>
            <div class="chat">
                <p class="selectchat">Select a Chat</p>
            </div>
            
    
        </div>
    </div>
    
{% endblock %}