{% extends 'website/layout2.html' %}
{% load static %}
{% load mathfilters %}
{% load humanize %}

<head>
    <title>
        {% block title %}
        Pitch my Idea | Delete Post
        {% endblock %}
    </title>
</head>
{% block body %}

    <div class="max-width">
        <div class="specificidea">
            <div class="delete-confirm">
                <h1>Your Idea of "{{ post.title }}" is about to be deleted. Are You Sure?</h1>
                <br>
                <hr>
                <br>
                <br>
                <p>{{ post.post|safe }}</p>
                <br>
                {% if post.image1 %}
                    <img src="{{ post.image1.url }}" alt="" style="max-width: 20%; padding: 1%;" id="idea-image1" class="idea-image">
                    <div id="myModal1" class="modal">
                        <span class="close">&times;</span>
                        <img class="modal-content" id="img01" src="{{ post.image1.url }}">
                    </div>
                {% endif %}
                {% if post.image2 %}
                    <img src="{{ post.image2.url }}" alt="" style="max-width: 20%; padding: 1%;" id="idea-image2" class="idea-image">
                    <div id="myModal2" class="modal">
                        <span class="close">&times;</span>
                        <img class="modal-content" id="img01" src="{{ post.image2.url }}">
                    </div>
                {% endif %}
                {% if post.image3 %}
                    <img src="{{ post.image3.url }}" alt="" style="max-width: 20%; padding: 1%;" id="idea-image3" class="idea-image">
                    <div id="myModal3" class="modal">
                        <span class="close">&times;</span>
                        <img class="modal-content" id="img01" src="{{ post.image3.url }}">
                    </div>
                {% endif %}
                {% if post.image4 %}
                    <img src="{{ post.image4.url }}" alt="" style="max-width: 20%; padding: 1%;" id="idea-image4" class="idea-image">
                    <div id="myModal4" class="modal">
                        <span class="close">&times;</span>
                        <img class="modal-content" id="img01" src="{{ post.image4.url }}">
                    </div>
                {% endif %}
                {% if post.image5 %}
                    <img src="{{ post.image5.url }}" alt="" style="max-width: 20%; padding: 1%;" id="idea-image5" class="idea-image">
                    <div id="myModal5" class="modal">
                        <span class="close">&times;</span>
                        <img class="modal-content" id="img01" src="{{ post.image5.url }}">
                    </div>
                {% endif %}
                <br>
                <p>{{ post.timestamp|naturaltime }}</p>
                <br>
                <hr>
                <div class="delete-options">
                    <form method="POST" action="{% url 'delete' post.id %}">
                        {% csrf_token %}
                        <button type="submit" class="delete-idea-btn">Confirm Delete</button>
                    </form>
                    <button onclick="goBack()" class="delete-undo">Undo</button>
                </div>
            </div>
            
        </div>
    </div>

{% endblock %}