{% extends 'website/layout2.html' %}
{% load static %}
{% load mathfilters %}
{% load humanize %}

<head>
    <title>
        {% block title %}
        Pitch my Idea | Track List
        {% endblock %}
    </title>
</head>
{% block body %}

    <div class="max-width">
        <div class="ideaboard">
            <h2>Tracked Ideas</h2>
            <br>
            <hr>
            <br>
            <ul>
                {% for post in favourites %}
                <a href="{% url 'idea' post.post.id %}" style="display: block;">
                    <div class='idea'>
                        <br>
                        <li style="list-style: none; color: black;">
                            <h4>{{ post.post.title }}</h4>
                            <div class='idea-content'><p>{{ post.post.post|safe }}</p></div>
                            <ul class='idea-details' style="text-align: left;">
                                    <li><h6 style="font-style: oblique; font-size: 17px;">{{ post.post.category }}</h6></li>
                                    <br>
                                    <li><h5>{{ post.post.liked.all.count }} <i class="fa fa-thumbs-up" style="font-size: 23px;"></i></h5></li>
                                    <li><h6>{{ post.post.comments.all.count }} <i class="far fa-comment" style="font-size: 22px;"></i></h6></li>
                            </ul>
                            <ul style="text-align: right;">
                                <li style="list-style: none; font-size: 12px; padding-right: 2%; margin-top: -2%;"><p>{{post.post.editedtrue}} {{ post.post.timestamp|naturaltime }}</p></li>
                            </ul>
                            
                        </li>
                        <br>
                    </div>
                </a>
                {% endfor %}
            </ul>
                
            
            
        </div>
    </div>
    

{% endblock %}