{% extends 'website/layout.html' %}
{% load static %}
{% load mathfilters %}
{% load humanize %}

<head>
    <title>
        {% block title %}
        Pitch my Idea | Homepage
        {% endblock %}
    </title>
</head>

{% block body %}
    <div class="mainpage">
        <div class='max-width'>
            <div class="mainpage-left">
                <h1>Unleash the Potential of your Idea with Us</h1>
                <br>
                
            </div>
            <div class="mainpage-right">
                <img src="{% static "website/images/Pngtreebusiness people network chat office_6814588.png" %}" alt="">
                {% if user.is_authenticated %}
                    <form action="{% url 'post' %}">
                        <button class='pitch' type="submit">Pitch Your Idea</button>
                    </form>
                {% else %}
                    <button class='problem'><a href="{% url 'login' %}?next={% url 'post' %}" class="problem1">Pitch Your Idea</a></button>
                    <br>
                {% endif %}
                <br>
                <form action="{% url 'ideas' %}">
                    <button class='rate' type="submit">View The Ideas</button>
                </form>
            </div>
            <br>
            <div class="quotediv">
                <i class="fas fa-quote-left"></i><p>  Ideas are easy. Execution is everything. It takes a team to win.<span> --John Doerr, Venture Capitalist</span></p>
                <br>
                <br>
                <br>
                <br>
            </div>
        </div>  
    </div>
    <div class="mainpage-bottom">
        <div class="max-width">
            <h3><span>-our purpose-</span></h3>
            <div class="firstrow">
                <div>
                    <img src="{% static "website/images/42528478-the-meeting-americans-jones-is-standing-chatting-with-his-proselytes-vintage-engraved-illustration-j.jpg" %}" alt="" class="img220px">
                    <h5>Publicise your Idea to the right online target audience</h5>
                </div>
                <div>
                    <img src="{% static "website/images/team-g607d4d1b2_1920-removebg.png" %}" alt="" class="img220px">
                    <h5>Seek validation and constructive criticism</h5>
                </div>
            </div>
            <div class="secondrow">
                <div>
                    <img src="{% static "website/images/hands-g085a67a41_1280.png" %}" alt="" class="img200px">
                    <h5>Connect with interested collaborators or mentors</h5>
                </div>
                <div class="divlastpic">
                    <img src="{% static "website/images/PngItem_28598.png" %}" alt="" class="img230px">
                    <h5>Refine and Improve your Idea for execution</h5>
                </div>
            </div>
        </div>
    </div>
    <div class="as-a-user">
        <div class="max-width">
            <h3>Grow with Us</h3>
            <h5>No matter what idea, our platform will help you realize its true potential while eliminating possible problems.</h5>
            <div class="postdescription">
                <img class="image111" src="{% static "website/images/combined 1 (1).PNG" %}" alt="">
                <div>
                    <p class="postdesctitle">Post Your Idea</p>
                    <br>
                    <p class="postdescdesc">Advertise it. <br>Share its opportunities and obstacles. <br>Gain positive feedback. <br>Garner likes to get your idea noticed on the leaderboard. <br>Attract collaborators and mentors.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="as-a-rater">
        <div class="max-width">
            <div class="ratedescription">
                <div class="ratedesc">
                    <p class="ratedesctitle">See an Idea that interests you?</p>
                    <br>
                    <p class="ratedescdesc">Like it. <br>Comment your opinions.  <br>Track it for new updates and growth.  <br>Connect and chat with the ideator for more!</p>
                    <br>
                    <img class="image112" src="{% static "website/images/chat snip.PNG" %}" alt="">
                </div>
                <img class="image113" src="{% static "website/images/whole ideapage snip.PNG" %}" alt="">
                
            </div>
        </div>
    </div>
    <div class="max-width">
        <div class="ideaboard" id="mainpage-ideaboard">
            <h2>All-Time Leaders</h2>
            <br>
            <hr>
            <br>
            <a href="{% url 'idea' post1.id %}" class="ideaparenta">
                <div class='idea1st'>
                    <br>
                    <li class="ideaparentli">
                        <h4> <i class="fas fa-crown"></i> {{ post1.title }}</h4>
                        <div class='idea-content'><p>{{ post1.post|safe }}</p></div>
                        <ul class='idea-details'>
                                <li><h6 class="idea-category">{{ post1.category }}</h6></li>
                                <br>
                                <li><h5 title="Likes">{{ post1.liked.all.count }} <i class="fa fa-thumbs-up"></i></h5></li>
                                <li><h6 title="Comments">{{ post1.comments.all.count }} <i class="far fa-comment"></i></h6></li>
                                <li><h6 title="Tracks">{{ post1.favourited.all.count }} <i class="fas fa-chart-line"></i></h6></li>
                                <li><h6 title="Updates">{{post1.updates}} <i class="fas fa-wrench"></i></h6></li>
                        </ul>
                        <ul class="idea-timestamp">
                            <li><p>{{post1.editedtrue}} {{ post1.timestamp|naturaltime }}</p></li>
                        </ul>
                    </li>
                    <br>
                </div>
            </a>
            <a href="{% url 'idea' post2.id %}" class="ideaparenta">
                <div class='idea2nd'>
                    <br>
                    <li class="ideaparentli">
                        <h4> <i class="fas fa-crown"></i> {{ post2.title }}</h4>
                        <div class='idea-content'><p>{{ post2.post|safe }}</p></div>
                        <ul class='idea-details'>
                                <li><h6 class="idea-category">{{ post2.category }}</h6></li>
                                <br>
                                <li><h5 title="Likes">{{ post2.liked.all.count }} <i class="fa fa-thumbs-up"></i></h5></li>
                                <li><h6 title="Comments">{{ post2.comments.all.count }} <i class="far fa-comment"></i></h6></li>
                                <li><h6 title="Tracks">{{ post2.favourited.all.count }} <i class="fas fa-chart-line"></i></h6></li>
                                <li><h6 title="Updates">{{post2.updates}} <i class="fas fa-wrench"></i></h6></li>
                        </ul>
                        <ul class="idea-timestamp">
                            <li><p>{{post2.editedtrue}} {{ post2.timestamp|naturaltime }}</p></li>
                        </ul>
                    </li>
                    <br>
                </div>
            </a>
            <a href="{% url 'idea' post3.id %}" class="ideaparenta">
                <div class='idea3rd'>
                    <br>
                    <li class="ideaparentli">
                        <h4> <i class="fas fa-crown"></i> {{ post3.title }}</h4>
                        <div class='idea-content'><p>{{ post3.post|safe }}</p></div>
                        <ul class='idea-details'>
                                <li><h6 class="idea-category">{{ post3.category }}</h6></li>
                                <br>
                                <li><h5 title="Likes">{{ post3.liked.all.count }} <i class="fa fa-thumbs-up"></i></h5></li>
                                <li><h6 title="Comments">{{ post3.comments.all.count }} <i class="far fa-comment"></i></h6></li>
                                <li><h6 title="Tracks">{{ post3.favourited.all.count }} <i class="fas fa-chart-line"></i></h6></li>
                                <li><h6 title="Updates">{{post3.updates}} <i class="fas fa-wrench"></i></h6></li>
                        </ul>
                        <ul class="idea-timestamp">
                            <li><p>{{post3.editedtrue}} {{ post3.timestamp|naturaltime }}</p></li>
                        </ul>
                    </li>
                    <br>
                </div>
            </a>
        </div>
        
    </div>
    <div class="footer">
        <div class="max-width">
            <p>Ready to Get Started?</p>
            <br>
            {% if user.is_authenticated %}
                <div>
                    <button class="footer-login"><a href="{% url 'post' %}">Pitch Your Idea</a></button>
                    <button class="footer-register"><a href="{% url 'ideas' %}">View The Ideas</a></button>
                </div>
            {% else %}
                <div>
                    <button class="footer-login"><a href="{% url 'login' %}">Log In</a></button>
                    <button class="footer-register"><a href="{% url 'register' %}">Create Account</a></button>
                </div>
            {% endif %}
            
            
        </div>
    </div>
    
    

{% endblock %}