{% extends 'website/layout2.html' %}
{% load static %}
{% load mathfilters %}
{% load humanize %}
{% load multifor %}
{% load post_tags %}

<head>
    <title>
        {% block title %}
        Pitch my Idea | Leaderboard
        {% endblock %}
    </title>
</head>
{% block body %}

    <div class="max-width">
        <div class="ideaboard">
            <h2>Leaderboard</h2>
            <br>
            <hr>
            <br>
            {% if post1 %}
                <a href="{% url 'idea' post1.id %}" class="ideaparenta">
                    <div class='idea1st'>
                        <br>
                        <li class="ideaparentli">
                            <h4> <i class="fas fa-crown"></i> {{ post1.title }}</h4>
                            <div class='idea-content'><p>{{ post1.post|safe }}</p></div>
                            <ul class='idea-details'>
                                    <li><h6 class="idea-category">{{ post1.category }}</h6></li>
                                    <br>
                                    <li><h5 title="Likes">{{ post1.liked.all.count }} <i class="fa fa-thumbs-up"></i></h5></li>
                                    <li><h6 title="Comments">{{ post1.comments.all.count }} <i class="far fa-comment"></i></h6></li>
                                    <li><h6 title="Tracks">{{ post1.favourited.all.count }} <i class="fas fa-chart-line"></i></h6></li>
                                    <li><h6 title="Updates">{{post1.updates}} <i class="fas fa-wrench"></i></h6></li>
                            </ul>
                            <ul class="idea-timestamp">
                                <li><p>{{ post1.timestamp|naturaltime }}</p></li>
                            </ul>
                            
                        </li>
                        <br>
                    </div>
                </a>
            {% endif %}
            {% if post2 %}
                <a href="{% url 'idea' post2.id %}" class="ideaparenta">
                    <div class='idea2nd'>
                        <br>
                        <li class="ideaparentli">
                            <h4> <i class="fas fa-crown"></i> {{ post2.title }}</h4>
                            <div class='idea-content'><p>{{ post2.post|safe }}</p></div>
                            <ul class='idea-details'>
                                    <li><h6 class="idea-category">{{ post2.category }}</h6></li>
                                    <br>
                                    <li><h5 title="Likes">{{ post2.liked.all.count }} <i class="fa fa-thumbs-up"></i></h5></li>
                                    <li><h6 title="Comments">{{ post2.comments.all.count }} <i class="far fa-comment"></i></h6></li>
                                    <li><h6 title="Tracks">{{ post2.favourited.all.count }} <i class="fas fa-chart-line"></i></h6></li>
                                    <li><h6 title="Updates">{{post2.updates}} <i class="fas fa-wrench"></i></h6></li>
                            </ul>
                            <ul class="idea-timestamp">
                                <li><p>{{post2.editedtrue}} {{ post2.timestamp|naturaltime }}</p></li>
                            </ul>
                        </li>
                        <br>
                    </div>
                </a>
            {% endif %}
            {% if post3 %}
                <a href="{% url 'idea' post3.id %}" class="ideaparenta">
                    <div class='idea3rd'>
                        <br>
                        <li class="ideaparentli">
                            <h4> <i class="fas fa-crown"></i> {{ post3.title }}</h4>
                            <div class='idea-content'><p>{{ post3.post|safe }}</p></div>
                            <ul class='idea-details'>
                                    <li><h6 class="idea-category">{{ post3.category }}</h6></li>
                                    <br>
                                    <li><h5 title="Likes">{{ post3.liked.all.count }} <i class="fa fa-thumbs-up"></i></h5></li>
                                    <li><h6 title="Comments">{{ post3.comments.all.count }} <i class="far fa-comment"></i></h6></li>
                                    <li><h6 title="Tracks">{{ post3.favourited.all.count }} <i class="fas fa-chart-line"></i></h6></li>
                                    <li><h6 title="Updates">{{post3.updates}} <i class="fas fa-wrench"></i></h6></li>
                            </ul>
                            <ul class="idea-timestamp">
                                <li><p>{{post3.editedtrue}} {{ post3.timestamp|naturaltime }}</p></li>
                            </ul>
                        </li>
                        <br>
                    </div>
                </a>
            {% endif %}
            {% for post in postsremaining %}
                <a href="{% url 'idea' post.id %}" class="ideaparenta">
                    <div class='idea'>
                        <br>
                        <li class="ideaparentli">
                            <h4>{{ post.title }}</h4>
                            <div class='idea-content'><p>{{ post.post|safe }}</p></div>
                            <ul class='idea-details'>
                                    <li><h6 class="idea-category">{{ post.category }}</h6></li>
                                    <br>
                                    <li><h5 title="Likes">{{ post.liked.all.count }} <i class="fa fa-thumbs-up"></i></h5></li>
                                    <li><h6 title="Comments">{{ post.comments.all.count }} <i class="far fa-comment"></i></h6></li>
                                    <li><h6 title="Tracks">{{ post.favourited.all.count }} <i class="fas fa-chart-line"></i></h6></li>
                                    <li><h6 title="Updates">{{post.updates}} <i class="fas fa-wrench"></i></h6></li>
                            </ul>
                            <ul class="idea-timestamp">
                                <li ><p>{{ post.timestamp|naturaltime }}</p></li>
                            </ul>
                            
                        </li>
                        <br>
                    </div>
                </a>
            {% endfor %}
        </div>
    </div>

{% endblock %}