{% extends 'website/layout2.html' %}
{% load static %}
{% load mathfilters %}
{% load humanize %}

<head>
    <title>
        {% block title %}
        Pitch my Idea | Ideas Board
        {% endblock %}
    </title>
</head>
{% block body %}

    <div class="max-width">
        <div class="ideaboard">
            <h2>My Ideas</h2>
            <br>
            <hr>
            <br>
            <ul>
                {% for post in posts %}
                <a href="{% url 'idea' post.id %}" class="ideaparenta">
                    <div class='idea'>
                        <br>
                        <li class="ideaparentli">
                            <h4>{{ post.title }}</h4>
                            <div class='idea-content'><p>{{ post.post|safe }}</p></div>
                            <ul class='idea-details'>
                                    <li><h6 class="idea-category">{{ post.category }}</h6></li>
                                    <br>
                                    <li><h5 title="Likes">{{ post.liked.all.count }} <i class="fa fa-thumbs-up"></i></h5></li>
                                    <li><h6 title="Comments">{{ post.comments.all.count }} <i class="far fa-comment"></i></h6></li>
                                    <li><h6 title="Tracks">{{ post.favourited.all.count }} <i class="fas fa-chart-line"></i></h6></li>
                                    <li><h6 title="Updates">{{post.updates}} <i class="fas fa-wrench"></i></h6></li>
                            </ul>
                            <ul class="idea-timestamp">
                                <li><p>{{post.editedtrue}} {{ post.timestamp|naturaltime }}</p></li>
                            </ul>
                            
                        </li>
                        <br>
                    </div>
                </a>
                {% endfor %}
            </ul>
                           
            
            
        </div>
    </div>

{% endblock %}