*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
	font-family:'Dosis', sans-serif;
}
button {
	outline: none;
}
.max-width{
    max-width: 1400px;
    padding: 0 80px;
    margin: auto;
}
.max-width2{
	max-width: 1300px;
	padding: 5px 95px;
	margin: auto;
	zoom: 120%;
}
html{
    scroll-behavior: smooth;
}

/* navbar styling */
.navbar {
    position: fixed;
    width: 100%;
    padding: 40px 0;
    transition: all 0.3s ease;
	background-color:white ;
	z-index: 1000;
}

.navbar.sticky{
	padding: 25px 0;
	background:rgb(255, 255, 255); 
	z-index: 1000;
	height: 80px;
}
.navbar .max-width{
	display: flex;
	align-items: center;
	justify-content: space-between;
	max-width: 1500px;
}
.navbar .logo {
	display: inline;
	white-space: nowrap;
	margin-top: -15px;
	margin-bottom: 20px;
}
.navbar .logo img{
	margin-bottom: -2%;
	margin-left: -2%;
}
.navbar .logo h1{
	display: inline;
	white-space: nowrap;
}
.navbar .logo a{
	color: #223b55;
	font-size:31px;
	opacity: 1;
	transition: 0.2s ease;
}
.navbar .logo span {
	display: inline;
}
.navbar .secondhalflogo{
	margin-left: -25px;
}
.navbar .logo a.sticky{
	font-size: 26px;
}
.navbar .menu{
	margin-top: -18px;
}
.navbar .menu.sticky{
	margin-bottom: 5px;
}

.navbar .menu .menu-left{
	float: left;
}
.navbar .menu .menu-right{
	float:right;
}
.navbar .menu li{
	list-style: none;
	display: inline-block;
}
.navbar .menu li a{
	display: block;
	font-size: 18.8px;
	transition: 0.3s ease-in-out;
}
.navbar .menu li:not(.idea-dropdown) a{
	margin-left: 25px;
}
.navbar .menu li:not(.idea-dropdown, .menu-btn-idea) a:not(.menu-btn-post){
	color: black;
	font-weight: 500;
}
.navbar .menu li:not(.idea-dropdown) a:not(.menu-btn-post):hover{
	color: rgb(180, 180, 180);
	font-weight: 600;
}
.navbar .menu li .menu-btn-idea{
	color: rgb(0, 225, 255);
	font-weight: 900;
}
.navbar .menu li .menu-btn-idea:hover{
	color: rgb(0, 132, 255);
	font-weight: 1000;
}
.navbar .menu li .menu-btn-post{
	color: #F64C72;
	font-weight: 900;
}
.navbar .menu li .menu-btn-post:hover{
	color: rgb(255, 123, 0);
	font-weight: 1000;
}
.fa-inbox {
	font-size: 19.9px;
}
.fa-sign-out-alt{
	font-size: 20px;
}
.fa-sign-in-alt{
	font-size: 20px;
}

.navbar-pages {
    position: fixed;
    width: 100%;
    padding: 30px 0;
	background:white; 
	z-index: 1000;
	height: 80px;
}

.navbar.sticky{
	padding: 25px 0;
	background:rgb(255, 255, 255); 
	z-index: 1000;
	height: 80px;
}
.navbar-pages .max-width{
	display: flex;
	align-items: center;
	justify-content: space-between;
	max-width: 1500px;
}
.navbar-pages .logo {
	display: inline;
	white-space: nowrap;
	margin-top: -15px;
	margin-bottom: 20px;
}
.navbar-pages .logo img{
	margin-bottom: -2%;
	margin-left: -2%;
}
.navbar-pages .logo h1{
	display: inline;
	white-space: nowrap;
}
.navbar-pages .logo a{
	color: #223b55;
	font-size: 26px;
	opacity: 1;
	transition: 0.2s ease;
}
.navbar-pages .logo span {
	display: inline;
}
.navbar-pages .secondhalflogo{
	margin-left: -25px;
}
.navbar-pages .menu{
	margin-bottom: 18px;
}
#fa-inbox-pages{
	font-size: 19.5px;
}
.navbar-pages .menu .menu-left{
	float: left;
}
.navbar-pages .menu .menu-right{
	float:right;
}
.navbar-pages .menu li{
	list-style: none;
	display: inline-block;
}
.navbar-pages .menu li a{
	display: block;
	font-size: 18.6px;
	transition:  0.3s ease-in-out;
}
.navbar-pages .menu li:not(.idea-dropdown) a{
	margin-left: 25px;
}
.navbar-pages .menu li:not(.idea-dropdown, .menu-btn-idea) a:not(.menu-btn-post){
	color: black;
	font-weight: 500;
}
.navbar-pages .menu li:not(.idea-dropdown) a:not(.menu-btn-post):hover{
	color: rgb(180, 180, 180);
	font-weight: 600;
}

.navbar-pages .menu li .menu-btn-idea{
	color: rgb(0, 225, 255);
	font-weight: 900;
}
.navbar-pages .menu li .menu-btn-idea:hover{
	color: rgb(0, 132, 255);
	font-weight: 1000;
}
.navbar-pages .menu li .menu-btn-post{
	color: #F64C72;
	font-weight: 900;
}
.navbar-pages .menu li .menu-btn-post:hover{
	color: rgb(255, 123, 0);
	font-weight: 1000;
}
@-webkit-keyframes fadeIn {
	from{ opacity: 0;}
	to {opacity: 1;}
}
@keyframes fadeIn{
	from{opacity: 0;}
	to{opacity: 1;}
}

.idea-dropdown-content {
	display: none;
	position: absolute;
	padding-top: 16px;
	justify-content: center;
	vertical-align: middle;
}

.idea-dropdown-content a{
	color: black;
	font-weight: 800;
	padding: 7px;
	text-shadow: 2px 2px rgb(1, 141, 160);
}
.idea-dropdown-content a:hover{
	text-shadow: 4px 4px rgb(2, 113, 128);
}
.idea-dropdown:hover  .idea-dropdown-content{
	display: block;
	-webkit-animation: fadeIn 1s;
	animation: fadeIn 1s;
}
.menu-bars{
	color: black;
	font-size: 20px;
	cursor: pointer;
	display: none;
}
/* homepage styling */
.mainpage .max-width{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 68vh;
	padding-top: 0%;
}
.mainpage {
	background-color: white;
	color: black;
	position: relative;
}
.mainpage .mainpage-left{
	padding: 2%;
	width: 100%;
	margin-bottom: -1%;
	line-height: 1.8em;
}
.mainpage .mainpage-left h1{
	font-size: 82px;
	font-weight: bolder;
	color: black;
	text-shadow: 4px 3px #e2345a;
	font-family: 'Gloria Hallelujah', cursive;
	line-height: 1.5em;
}
.mainpage .mainpage-right{
	padding: 5%;
}
.mainpage .mainpage-right img{
	margin-bottom: -8%; 
	margin-top: -12%; 
	margin-left: -2%;
	height: 313px;
}
.mainpage .mainpage-right button{
	margin: 0%;
	margin-left: 11%;
	border-radius:10px;
	width: 225px;
	height: 70px;
	font-size: 26px;
	font-weight: 800;
	color: black;
}
.mainpage-right .pitch{
	background: #f8577a;
	border-color: rgba(10, 10, 250, 0.233);
	transition: 0.15s ease;
}
.mainpage-right .pitch:hover{
	background-color: rgb(233, 233, 233);
	color: #fa3560;
	font-weight: 700;
	cursor: pointer;
}
.problem {
	background-color: #f8577a; 
	border-color: rgba(10, 10, 250, 0.233); 
	transition: 0.15s ease; 
	cursor: pointer;
	margin-top: 5%;
}
.problem1 {
	color: black;
}
.problem:hover {
	background-color: rgb(233, 233, 233);
}
.problem:hover .problem1{
	color: #fa3560;
	font-weight: 700;
}
.mainpage-right .rate{
	border-color: rgb(0, 0, 92);
	background: transparent;
	transition: 0.15s ease;
}
.mainpage-right .rate:hover{
	background-color: darkblue;
	color: white;
	font-weight: 700;
	cursor: pointer;
}
.mainpage .quotediv{
	display: block; 
	position:absolute; 
	bottom: 0;
}
.fa-quote-left{
	font-size: 23px; 
	color: gray; 
	position: absolute; 
	margin-top: -1.8%; 
	margin-left: -4.2%;
}
.mainpage .quotediv p{
	font-size: 26px;
}
.mainpage .quotediv span{
	font-size: 21px;
	font-style: italic;
}
.mainpage-bottom {
	background-color: rgb(250, 250, 250);
}
.mainpage-bottom .max-width{
	display: block;
	justify-content: center;
	align-items: center;
	padding-bottom: 4%;
}
.mainpage-bottom h3 {
	padding: 5%;
	font-size: 58px;
	font-weight: 500;
	text-align: center;
}
.mainpage-bottom span{
	text-shadow: 3px 3px rgb(0, 83, 83); 
	font-family: 'Cabin Sketch', cursive;
}
.mainpage-bottom .firstrow{
	display: flex; 
	width: 100%; 
	padding-bottom: 4%;
}
.mainpage-bottom .firstrow div{
	flex: 1;
}
.mainpage-bottom .secondrow{
	display: flex; 
	width: 100%;
}
.mainpage-bottom .secondrow div{
	flex: 1;
}
.mainpage-bottom .secondrow .divlastpic{
	margin-top: -30px;
}
.mainpage-bottom img{
	display: block;
	margin:auto;
}
.mainpage-bottom .img200px{
	height: 200px;
}
.mainpage-bottom .img220px{
	height: 220px;
}
.mainpage-bottom .img230px{
	height: 230px;
}
.mainpage-bottom h5{
	padding: 3%;
	font-size: 28px;
	font-weight: 500;
	text-align: center;
}
.as-a-user {
	background-color: #34526f;
	height: 100vh;
	padding-top: 3%;
	color: white;
}
.as-a-user h3{
	font-size: 68px;
	font-weight: 400;
	color: white;
	text-shadow: 2px 2px rgb(135, 242, 250);
	text-align: center;
	padding: 5%;
	padding-bottom: 0.6%;
}
.as-a-user h5 {
	font-size: 26px;
	font-weight: 300;
	color: white;
	text-align: center;
	width: 70%;
	margin: auto;
	padding-bottom: 8%;
}
.as-a-user .postdescription{
	display: flex;
}
.as-a-user .postdescription .image111{
	width: 75%;
	margin-left: -5%; 
	opacity: 0;
}
.as-a-user .postdescription div{
	padding-top: 10%; 
	padding-left: 3%; 
	margin-right: -5%;
}
.as-a-user .postdescription .postdesctitle{
	font-size: 32px; 
	font-weight: 700; 
	text-shadow: 2px 2px gray;
}
.as-a-user .postdescription .postdescdesc{
	font-size: 23px; 
	line-height: 150%;
}
.as-a-user img{
	border-radius: 8px;
}
.as-a-rater {
	background-color: #34526f;
	height: 80vh;
	padding-top: 3%;
	color: white;
}
.as-a-rater .ratedescription{
	display: flex; 
	margin-top: -3.3%;
}
.as-a-rater .ratedescription .ratedesc{
	margin-top: -2%;
}
.as-a-rater .ratedescription .ratedesctitle{
	font-size: 32px; 
	font-weight: 700; 
	text-shadow: 2px 2px gray;
}
.as-a-rater .ratedescription .ratedescdesc{
	font-size: 23px; 
	line-height: 150%;
}
.as-a-rater .ratedescription .image112{
	width: 110%;
	margin-left: -13%; 
	box-shadow: 10px 10px 2px 2px rgba(44, 44, 44, 0.575);
	opacity: 0;
}
.as-a-rater .ratedescription .image113{
	width: 60%;
	margin-right: -7%; 
	margin-top:-10%; 
	box-shadow: 10px 10px 2px 2px rgba(44, 44, 44, 0.575); 
	opacity: 0;
}
#mainpage-ideaboard{
	padding-top: 6%; 
	padding-bottom: 5%;
}
.ideaboard .idea1st .fa-crown{
	color: #ffd700; 
	font-size: 33px;
}
.ideaboard .idea2nd .fa-crown{
	color: #BBC2CC; 
	font-size: 31px;
}
.ideaboard .idea3rd .fa-crown{
	color: #E4953C; 
	font-size: 29px;
}
.footer {
	background-color: rgb(250, 250, 250); 
	padding-top: 2%;
	padding-bottom: 4%;
}
.footer p{
	text-align: center; 
	font-size: 40px; 
	font-weight: 600;
}
.footer .max-width div{
	text-align: center;
}
.footer-login {
	border: none;
	background: transparent;
	margin: 1%;
	padding: 0.6%;
	transition: ease-in-out 0.2s;
}
.footer-login:hover {
	border: solid rgb(109, 109, 109);
	padding: 0.6%;
}
.footer-login:hover a{
	color: rgb(87, 87, 87);
}
.footer-login a {
	font-size: 24px;
	font-weight: 400;
	color: black;
}
.footer-register {
	border: solid rgb(109, 109, 109);
	background: transparent;
	margin: 1%;
	padding: 0.6%;
	transition: ease-in-out 0.2s;
	cursor: pointer;
}
.footer-register:hover {
	background: rgb(66, 66, 66);
	border: transparent;
	padding: 0.6%;
}
.footer-register:hover a {
	color: white;
}
.footer-register a {
	font-size: 24px;
	font-weight: 400;
	color: black;
	transition: ease-in-out 0.2s;
}




/* register and login styling */
.register {
    display: table;
	margin-right: auto;
	margin-left: auto;
	padding-top: 11%;
}
.register .message{
	color: darkred;
	padding-bottom: 3%;
	font-weight: 500;
}
.register h2{
	font-size: 51px;
}
.register h6{
	font-size: 23px;
	padding-top: 5%;
	color: rgb(24, 24, 233);
}
.register h6 a:hover{
	color: lightblue;
}
.register .form-group{
	padding-bottom:5%;
}
.register .form-group input{
	padding-left: 3%;
	font-size: 23px;
	height: 65px;
	width: 500px;
}
.register .register-btn{
	height: 50px;
	width: 150px;
	font-size: 23px;
	background-color: rgb(5, 5, 148);
	border-radius: 5px;
	color: white;
	font-weight: 600;
	transition: ease-in-out 0.2s;
}
.register .register-btn:hover{
	background-color: rgb(140, 164, 240);
	cursor: pointer;
	color: darkblue;
	border-color: darkblue;
}
.login {
    display: table;
	margin-right: auto;
	margin-left: auto;
	padding-top: 11%;
}
.login .message{
	color: darkred;
	padding-bottom: 3%;
	font-weight: 500;
}
.login h2{
	font-size: 51px;
}
.login h6{
	font-size: 23px;
	padding-top: 5%;
	color: rgb(24, 24, 233);
}
.login h6 a:hover{
	color: lightblue;
}
.login .form-group{
	padding-bottom:5%;
}
.login .form-group input{
	padding-left: 3%;
	font-size: 23px;
	height: 65px;
	width: 500px;
}
.login .login-btn{
	height: 50px;
	width: 140px;
	font-size: 23px;
	background-color: rgb(5, 5, 148);
	border-radius: 5px;
	transition: ease-in-out 0.2s;
	color: white;
	font-weight: 600;
}
.login .login-btn:hover{
	background-color: rgb(140, 164, 240);
	cursor: pointer;
	color: darkblue;
	border-color: darkblue;
}


/* post styling */
.post {
    display: table;
	margin-right: auto;
	margin-left: auto;
	padding-top: 11.1%;
}
.post form{
	font-size: 25px;
}
.postbtn {
		margin-left: 1%;
		padding: 1%;
		border-radius: 5px;
		width: 100px;
		font-size: 20px;
		font-weight: 700;
		background-color: #5284b3;
		color: white;
		cursor: pointer;
		transition: ease 0.2s;
}
.postbtn:hover{
	background-color: #34526f;
	border-style: double;
}
.updatebtn {
	width: 90px;
	padding: 0.8%;
	margin-left: 1%;
	display: flex;
	justify-content: center;
	margin-top: -1.5%;
	font-size: 20px;
	border-radius: 5px;
	font-weight: 700;
	background-color: #5284b3;
	color: white;
	cursor: pointer;
	transition: ease 0.2s;
}
.updatebtn:hover{
	background-color: #34526f;
	border-style: double;
}

/* ideaboard styling */
.ideaboard {
    padding-top: 10%;
}
.ideaboard h2{
	font-size: 40px;
}
.ideaboard .ideaparenta{
	display: block;
}
.ideaboard .idea{
	border: 2px solid rgb(194, 189, 189);
	list-style-position: inside;
	margin-bottom: 2%;
	transition: ease-in-out 0.3s;
}
.ideaboard .idea:hover{
	box-shadow: 1px 1px 1px 1px #698cffc9;
}
.ideaparentli{
	list-style: none; 
	color: black;
}

.ideaboard .idea h4{
	padding: 0% 0% 0.5% 1%;
	font-size: 30px;
}
.ideaboard .idea p{
	padding: 0% 0% 0.5% 1.5%;
}
.ideaboard .idea .idea-content {
	position: relative;
	max-height: 110px;
	overflow: hidden;
}
.ideaboard .idea .idea-content p{
	padding: 0% 0% 0.5% 3%;
	font-size: 17px;
}
.ideaboard .idea .idea-content p::after{
	content: "";
	position: absolute;
	bottom   : 0;
	left     : 0;
	pointer-events   : none;
	background-image : linear-gradient(to bottom, 
						rgba(255,255,255, 0), 
						rgba(255, 255, 255, 0.329) 90%);
	width    : 100%;
	height   : 3.2em;
}
.ideaboard .idea .idea-details{
	padding-left: 3%;
	text-align: left;
}
.ideaboard .idea-details .idea-category{
	font-size: 18px;
	font-style: oblique;
}

.ideaboard .idea h6{
	font-size: 22px;
	font-weight:normal;
}
.ideaboard .idea h5{
	font-size: 22px;
	font-weight:bold;
}
.idea-details .fa-thumbs-up{
	font-size: 23px;
}
.fa-comment{
	font-size: 22px;
}
.fa-chart-line {
	font-size: 23px;
}
.fa-wrench {
	font-size: 22px;
}
.ideaboard .idea .idea-details li{
	list-style: none;
	display: inline-block;
	padding: 1%;
}
.ideaboard .idea-timestamp{
	text-align: right;
}
.ideaboard .idea-timestamp li{
	list-style: none; 
	font-size: 15px; 
	padding-right: 2%; 
	margin-top: -2%;
}
.ideaboard .idea1st{
	border: 2px solid rgba(248, 221, 70, 0.568);
	list-style-position: inside;
	margin-bottom: 2%;
	transition: ease-in-out 0.2s;
}
.ideaboard .idea1st:hover{
	box-shadow: 1px 1px 1px 1px rgba(255, 217, 0, 0.788);
}
.ideaboard .idea1st h4{
	padding: 0% 0% 0.5% 1%;
	font-size: 30px;
}
.ideaboard .idea1st .idea-content {
	position: relative;
	max-height: 120px;
	overflow: hidden;
}
.ideaboard .idea1st .idea-content p{
	padding: 0% 0% 0.5% 3%;
	font-size: 17px;
}
.ideaboard .idea1st .idea-content p::after{
	content: "";
	position: absolute;
	bottom   : 0;
	left     : 0;
	pointer-events   : none;
	background-image : linear-gradient(to bottom, 
						rgba(255,255,255, 0), 
						rgba(252, 247, 225, 0.493) 90%);
	width    : 100%;
	height   : 3.5em;
}
.ideaboard .idea1st .idea-details{
	padding-left: 3%;
}
.ideaboard .idea1st h6{
	font-size: 22px;
	font-weight:normal;
}
.ideaboard .idea1st h5{
	font-size: 22px;
	font-weight:bold;
}

.ideaboard .idea1st .idea-details li{
	list-style: none;
	display: inline-block;
	padding: 1%;
	
}
.ideaboard .idea2nd{
	border: 2px solid rgba(192, 192, 192, 0.692);
	list-style-position: inside;
	margin-bottom: 2%;
	transition: ease-in-out 0.2s;
}
.ideaboard .idea2nd:hover{
	box-shadow: 1px 1px 1px 1px silver;
}
.ideaboard .idea2nd h4{
	padding: 0% 0% 0.5% 1%;
	font-size: 30px;
}
.ideaboard .idea2nd .idea-content {
	position: relative;
	max-height: 120px;
	overflow: hidden;
}
.ideaboard .idea2nd .idea-content p{
	padding: 0% 0% 0.5% 3%;
	font-size: 17px;
}
.ideaboard .idea2nd .idea-content p::after{
	content: "";
	position: absolute;
	bottom   : 0;
	left     : 0;
	pointer-events   : none;
	background-image : linear-gradient(to bottom, 
						rgba(255,255,255, 0), 
						rgba(235, 235, 235, 0.13) 90%);
	width    : 100%;
	height   : 3.5em;
}
.ideaboard .idea2nd .idea-details{
	padding-left: 3%;
}
.ideaboard .idea2nd h6{
	font-size: 22px;
	font-weight:normal;
}
.ideaboard .idea2nd h5{
	font-size: 22px;
	font-weight:bold;
}

.ideaboard .idea2nd .idea-details li{
	list-style: none;
	display: inline-block;
	padding: 1%;
	
}
.ideaboard .idea3rd{
	border: 2px solid #fab46485;
	list-style-position: inside;
	margin-bottom: 2%;
	transition: ease-in-out 0.2s;
}
.ideaboard .idea3rd:hover{
	box-shadow: 1px 1px 1px 1px #E4953C;
}
.ideaboard .idea3rd h4{
	padding: 0% 0% 0.5% 1%;
	font-size: 30px;
}
.ideaboard .idea3rd .idea-content {
	position: relative;
	max-height: 120px;
	overflow: hidden;
}
.ideaboard .idea3rd .idea-content p{
	padding: 0% 0% 0.5% 3%;
	font-size: 17px;
}
.ideaboard .idea3rd .idea-content p::after{
	content: "";
	position: absolute;
	bottom   : 0;
	left     : 0;
	pointer-events   : none;
	background-image : linear-gradient(to bottom, 
						rgba(255,255,255, 0), 
						#ffe0bb38 90%);
	width    : 100%;
	height   : 3.5em;
}
.ideaboard .idea3rd .idea-details{
	padding-left: 3%;
}
.ideaboard .idea3rd h6{
	font-size: 22px;
	font-weight:normal;
}
.ideaboard .idea3rd h5{
	font-size: 22px;
	font-weight:bold;
}

.ideaboard .idea3rd .idea-details li{
	list-style: none;
	display: inline-block;
	padding: 1%;	
}
.pagination .paginationparentdiv{
	text-align: center; 
	justify-content: center;
}
.pagination {
	list-style: none;
	vertical-align: middle;
}
.pagination li {
	display: inline-block;
	text-align: center;
	justify-content: center;
	font-size: 18px;
	margin-top: 2%;
	margin-bottom: 5%;
	border-radius: 5px;
	font-weight: 500;
}
.pagination li a {
	display: block;
	padding: 10px;
	color: black;
}
.pagination .page-item:hover{
	background-color: #60c0c0c9;
	transition: 0.5s ease-in-out;
}
.pagination .page-item-active {
	background-color: #73c5c5c7;
	font-weight: bold;
	padding: 10px;
	box-shadow: 0.5px 0.5px #fff4c669;
}
.pagination .page-item-active a{
	pointer-events: none;
}

.pagination .page-item-disabled  a{
	color:rgb(155, 155, 155);
	pointer-events: none;
}

/* idea styling */

.specificidea {
	padding-top: 9%;
}
.specificidea .idea-image{
	max-width: 24%;
	padding: 1%;
}
.specificidea-heading {
	display: flex;
	align-items: center;
	width: 100%;
}
.heading-left {
	float:left;
	width: 80%;
	margin-right: 0%;
}
.heading-left h4{
	font-style: italic; 
	padding-left: 1%;
}
.heading-right {
	display: flex;
	margin-bottom: 0%;
	padding-right: 5%;
}
.fa-envelope-open-text {
	font-size: 19px;
}
.fa-chart-line {
	font-size: 19px;
}
.specificidea .fa-thumbs-up{
	font-size: 19px;
}
.heading-right-btn {
	display: flex;
	padding-right: 5%;
}
.heading-right-btn button{
	border-radius:4px;
	height: 38px;
	font-size: 20px;
	font-weight: 700;
}
.heading-right-btn a{
	color: black;
}
.heading-right-btn button:not(.connect,.ideanotauthlike, .ideanotauthtrack){
	margin-top: 5%;
}
.ideanotauthtrack {
	background-color: #f1292fce;
	margin-top: 6px;
	color: black; 
	cursor: pointer; 
	width: 100px; 
	margin-right: 6px;
}
.ideanotauthtrack:hover{
	background-color: #f12930b0;
}
.ideanotauthlike {
	background-color: palegreen;
	color: black; 
	cursor: pointer; 
	width: 100px; 
	margin-right: 6px; 
	margin-top: 6px;
}
.ideanotauthlike:hover{
	font-style: italic;
	background-color: lightgreen;
}
.approve {
	background-color: palegreen;
	width: 100px;
	transition: ease-in-out 0.2s;
}
.approve:hover {
	font-style: italic;
	cursor: pointer;
	background-color: lightgreen;
}
.approved {
	border-color: green;
	width: 100px;
	background-color: rgba(152, 251, 152, 0.5);
	transition: ease-in-out 0.2s;
}
.approved:hover {
	background-color: lightgreen;
	cursor: pointer;
	font-style:italic;
}
.favourite {
	background-color: #f1292fce;
	width: 100px;
	margin-right: 6px;
	transition: ease-in-out 0.2s;
}
.favourite:hover {
	cursor: pointer;
	background-color: #f12930b0;
}
.favourited {
	border-color: black;
	width: 100px;
	margin-right: 6px;
	background-color: #eb4147ce;
	transition: ease-in-out 0.2s;
}
.favourited:hover {
	background-color: #eb4147b4;
	cursor: pointer;
}
.connect {
	background-color: #a3c9ee;
	width: 115px;
	margin-right: 6px;
	margin-top: 1.8%;
	transition: ease-in-out 0.2s;
}
.connect:hover {
	background-color: #a7cff7e0;
	cursor: pointer;
}
.connect a{
	color: black;
	font-size: 20px;
	font-weight: 700;
}

.edit {
	background-color: rgba(137, 188, 255, 0.815);
	margin-right: 4%;
	width: 90px;
	transition: ease-in-out 0.2s;
}
.edit:hover {
	font-style: italic;
	cursor: pointer;
	background-color: rgba(94, 164, 255, 0.815);
}
.edit a{
	color: black;
}
.update {
	background-color: #f5a6b0;
	margin-right: 4%;
	width: 120px;
	transition: ease-in-out 0.2s;
}
.update:hover {
	font-style: italic;
	cursor: pointer;
	background-color: #e49ba5b4;
}
.update a{
	color: black;
}
.heading-right h5{
	margin-bottom: -7%;
	margin-top: 2%;
	font-size: 40px;
}
#like-countnonowner {
	margin-top: -0.2%;
}
#like-logononowner{
	font-size: 28px; 
	margin-left: 2%; 
	margin-top: 3%;
}
#like-logoowner{
	font-size: 28px; 
	margin-left: 3%; 
	margin-top: 6.4%;
}
.specificideacategory span{
	font-weight: 500;
}
.idea-image{
	border-radius: 5px;
	cursor: pointer;
	transition: 0.3s;
}
.idea-image:hover{
	opacity: 0.7;
}
.specificidea .post {
	background-color: rgba(235, 235, 235, 0.349); 
	padding:2% 3% 2% 3%; 
	margin-bottom: 2%; 
	margin-top: -2%;
}
.specificidea .post form {
	font-size: 22px;
}
.specificidea-heading .heading-left h5{
	font-style: italic;
	font-size:  19px;
}

.subpostedit, .subpostdelete {
	font-size: 22px;
	padding-right: 1.2%;
	color: black;
	transition: ease-in-out 0.2s;
}
.subpostedit:hover {
	color: rgb(86, 190, 255);
}
.subpostdelete:hover {
	color: rgba(224, 4, 4, 0.966);
}
.modal{
	display: none;
	position: fixed;
	z-index: 1;
	padding-top: 300px;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(146, 146, 146, 0.308);
	background-color: rgba(141, 141, 141, 0.541);
}
.modal-content {
	margin: auto;
	display: block;
	width: 80%;
	max-width: 700px;
}
.modal-content {
	animation-name: zoom;
	animation-duration: 0.5s;
}
.specificideatimestamp {
	font-size: 14px;
	font-style: italic;
}
.betweenideaandupdates {
	display: block; 
	height: 1px; 
	border: 0; 
	border-top: 1px solid rgba(211, 211, 211, 0.815);
	margin-top: 0.2px;
}
.subposts {
	margin: 0% 1% 0% 1%;
}
.subpost {
	padding: 1.5%;
	background-color: rgba(241, 241, 241, 0.329);
	margin: 0% 1.5% 0.5% 1.5%;
}
.subpostbtn {
	display: flex; 
	justify-content: right; 
	text-align: right; 
	margin: -2% 2.2% 0.8% 0%;
}
.subpostbtn i{
	font-size: 18px;
}
.subposttimestamp {
	font-size: 14px; 
	font-style: italic; 
	padding: 0.5% 0% 0.5% 0%;
}
.subpostnoupdates {
	margin-top: -1%; 
	padding-left: 2%; 
	padding-bottom:0.5%; 
	font-size: 15px;
}

.delete-idea {
	padding-left: 1%;
}
.delete-idea-btn {
	padding: 0.5%;
	font-size: 16px;
	font-weight: 600;
	border-radius: 5%;
	background-color: #f8577a;
	cursor: pointer;
	transition: ease-in-out 0.2s;
}
.delete-idea-btn:hover{
	background-color: #fa3560;
	border-style: double;
}
@keyframes zoom {
	from {transform: scale(0)}
	to {transform: scale(1)}
}
.close {
	position:absolute;
	top: 15%;
	right: 10%;
	color: #555555;
	font-size: 35px;
	font-weight: bold;
	transition: 0.3s;
}
.close:hover,
.close:focus {
  color: rgb(138, 138, 138);
  text-decoration: none;
  cursor: pointer;
}
.comments h2{
	font-size: 23px;
	font-weight: 600;
}
.commentinput {
	width: 95%;
	height: 100px;
	padding-left: 10px;
	padding-top: 10px;
	font-size: 16px;
	margin-left: 2%;
	box-shadow: 1px 1px 1px 1px rgb(199, 188, 188);
}
.commentsubmit {
	padding: 6px 5px 6px 5px;
	font-size: 17px;
	margin: 1% 0% 2% 2.3%;
	border-radius: 5%;
	cursor: pointer;
	background-color: rgba(150, 253, 150, 0.884);
	font-weight: bold;
	box-shadow: 1px 1px 1px 1px rgba(187, 186, 186, 0.692);
}
.commentsubmitlogin {
	padding: 6px 5px 6px 5px;
	font-size: 19px;
	margin: 1% 0% 2% 2.3%;
	background-color: rgba(100, 247, 100, 0.822);
	font-weight: bold;
	box-shadow: 1px 1px 1px 1px rgba(187, 186, 186, 0.692);
}
.comment-list {
	margin-left: 3%;
}
.comment-list .individual-comment h4{
	padding-bottom: 1%;
}
.comment-list .individual-comment span{
	font-weight: 450;
	font-size: smaller;
}
.comment-list p{
	padding-bottom: 0.5%;
}
.individual-comment {
	background-color: rgba(192, 192, 192, 0.26);
	width: 95%;
	padding: 2%;
}
.comment-list button {
	float: right;
	display: flex;
	margin-top: -2%;
	margin-right: -1.5%;
}
#delete-btn:hover {
	animation: shake 0.5s;
	animation-iteration-count: infinite;
}
.deletecommentbtn {
	height: 33px; 
	width: 30px; 
	background-color: transparent; 
	border: none;
}
.fa-trash-alt {
	color:darkolivegreen; 
	font-size: 20px;
}
@keyframes shake {
	0% { transform: translate(1px, 1px) rotate(0deg); }
	10% { transform: translate(-1px, -1px) rotate(-1deg); }
	20% { transform: translate(-1px, 0px) rotate(1deg); }
	30% { transform: translate(1px, 1px) rotate(0deg); }
	40% { transform: translate(1px, -1px) rotate(1deg); }
	50% { transform: translate(-1px, 1px) rotate(-1deg); }
	60% { transform: translate(-1px, 1px) rotate(0deg); }
	70% { transform: translate(1px, 1px) rotate(-1deg); }
	80% { transform: translate(-1px, -1px) rotate(1deg); }
	90% { transform: translate(1px, 1px) rotate(0deg); }
	100% { transform: translate(1px, -1px) rotate(-1deg); }
  }

/* styling delete idea page */
.delete-confirm {
	padding-top: 2%;
	zoom: 120%;
}
.delete-undo {
	background-color: rgba(127, 255, 212, 0.733);
	cursor: pointer;
	font-size: 15px;
	font-weight: 450;
}
.delete-undo:hover{
	background-color: aquamarine;
	border-style: double;
}
.delete-options {
	padding: 1%;
}
.delete-options button{
	font-size: 20px;
	padding: 0.6%;
	margin-bottom: 1%;
	border-radius: 7%;
}

/* styling categories page */
.categories{
	padding-top: 10%;
}
.categories h2 {
	font-size: 40px;
}
.categories .category-name{
	border: 2px solid rgb(221, 220, 220);
	padding: 2%;
	width: 100%;
	font-size: 24px;
	font-weight: 600;
	color: black;
	margin-bottom: 0.9%;
	border-radius: 10px;
	transition: ease-in-out 0.2s;
}
.categories .category-name:hover{
	box-shadow: 1px 1px 1px 1px #00c5ccc9;
}
.categories .category-name i{
	font-size: 23px;
}

/* styling leaderboard page */
.leaderboard{
	padding-top: 10%;
}
.leaderboard h2 {
	font-size: 40px;
}
.idea1st{
	background-color: rgba(255, 217, 0, 0.178);
}
.idea2nd{
	background-color: rgba(192, 192, 192, 0.26);
}
.idea3rd{
	background-color: #d67a1036;
}


/* styling chats page */
.allchats {
	padding-top: 8%;
}
.allchats h2{
	font-size: 40px; 
	padding: 8% 0% 10% 7%;
}
.chatslist {
	float: left;
	width: 35%;
	border: 1px solid rgba(219, 219, 219, 0.884);
}
.chatslists{
	height: 73.5vh; 
	overflow-y: scroll;
	overflow-x: hidden;
}
.allchatheading {
	background-color: rgb(240, 240, 240);
	border: 1px solid rgba(219, 219, 219, 0.884);
	box-shadow: 2px 2px rgb(197, 197, 197);
	height: 90px;
}
.specificchat{
	padding: 5% 4% 5% 4%;	
	transition: ease-in-out 0.3s;
	border: 1px solid rgba(219, 219, 219, 0.884);
	
}
.specificchat:hover {
	background-color: rgb(224, 224, 224);
}
.specificchat:hover p {
	color: rgb(1, 1, 122);
	transition: ease-in-out 0.3s;
}
.specificchat p {
	color: black;
}
.specificchat .username{
	font-size: 23px;
	font-weight: 600; 
	padding-bottom: 3%;
}
.specificchat .posttitle{
	font-size: 20px; 
	font-weight: 400; 
	padding-left: 2%;
}
.specificchat .posttitle span{
	font-size: 14px; 
	font-weight: normal;
}
.specificchat .unreceivedmsg{
	font-size: 16px; 
	padding: 1% 0% 0% 3%; 
	font-style: italic;
}
.nochat {
	font-size: 18px; 
	padding-top: 8%; 
	text-align: center;
}
.chat {
	float: right;
	width: 65%;
	height: 83vh;
	margin: auto;
	border: 1px solid rgba(219, 219, 219, 0.884);
	text-align: center;
}
.chat .selectchat{
	font-size: 23px; 
	font-style: oblique; 
	padding-top: 8%;
}
.allchatheadingroom{
	background-color: rgb(240, 240, 240);
	border: 1px solid rgba(219, 219, 219, 0.884);
	box-shadow: 2px 2px rgb(197, 197, 197);
	height: 90px;
}
.allchatheadingroom h2{
	font-size: 40px; 
	padding: 8% 0% 10% 7%;
}
.chatheading{
	height: 90px;
	background-color: rgb(248, 248, 248);
	box-shadow: 1px 1px whitesmoke;
	display: inline-flexbox;
	justify-content: left;
	align-items:left;
}
.chatheading h4{
	padding-left: 3%;
	padding-top: 2%;
	font-size: 29px; 
	font-weight: 600; 
	text-align: left;
}
.chatheading a {
	color: rgb(130, 92, 233);
	font-size: 23px; 
	font-weight: 400; 
}
.chatheading p{
	text-align: left;
	padding-left: 4%;
}
.chatheading a:hover{
	font-weight: 420;
	color: rgb(53, 0, 139);
}
.messages-area {
	height: 65vh;
	padding: 1% 1% 0% 1%;
	overflow-y: scroll;
	overflow-x: hidden;
}
.input-area{
	height: 65px;
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.input-area #message-input{
	font-size: 19.5px; 
	word-wrap: break-word;
}
#message-input{
	padding: 20px;
	width: 100%;
	border: 1px solid rgb(153, 153, 153);
}
#send-btn {
	font-size: 18px;
	font-weight: 700;
	padding: 10px 20px;
	cursor: pointer;
	border: 1px solid rgb(153, 153, 153);
	background-color: rgba(239, 249, 255, 0.747);
}
.message.left{
	text-align: left;
}
.message.left .content {
	background-color: #218aff;
	color:white;
}
.message.right{
	text-align: right;
}
.message.right .content {
	background-color: rgb(209, 209, 209);
}
.message {
	padding-bottom: 2%;
}
.message .sent-by{
	font-size: 18px;
}
.message .sent-by span{
	font-size: 15px;
}
.message .content{
	padding: 6px 11px;
	border-radius: 10px;
	max-width: 80%;
	display: inline-block;
	position: relative;
	font-size: 19.5px;
}
.message.left .content::after {
	content: '';
	position: absolute;
	left: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 8px solid transparent;
	border-right-color: #218aff;
	border-left: 0;
	border-top: 0;
	margin-top: -3px;
	margin-left: -5px;
}
.message.right .content::after {
	content: '';
	position: absolute;
	right: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 15px solid transparent;
	border-left-color: rgb(209, 209, 209);
	border-right: 0;
	border-top: 0;
	margin-top: -3px;
	margin-right: -5px;
}

@media only screen and (min-device-width: 1024px) and (max-device-width:1366px) and (-webkit-min-device-pixel-ratio: 2){
	.max-width{
		max-width: 1330px;
	}
	.navbar{
		padding: 27px 0;
		height: 82px;
	}
	.navbar-pages{
		padding: 27px 0;
		height: 82px;
	}
	.as-a-rater {
		padding-top: 10%;
		height: 90vh;
	}
	.chatheading h4{
		padding-top: 1%;
	}
}

@media screen and (min-device-width:1024px) and (max-device-width:1024px) and (orientation:portrait) and (-webkit-min-device-pixel-ratio: 2){
	.max-width2{
		zoom: 110%;
	}
	.specificidea{
		padding-top: 13%;
	}
	.mainpage .mainpage-left h1{
		font-size: 70px;
	}
	.mainpage .max-width{
		height: 60vh;
	}
	.as-a-rater{
		margin-top: -50%;
		height: 60vh;
	}
	.menu-bars{
		display: inline-block;
		z-index: 2000;
		margin-top: -3%;
	}
	.menu-bars:hover{
		color: #027ca1;
		transition: ease-in-out 0.3s;
	}
	.menu-bars i.active::before{
		content:"\f00d";
	}
	.navbar .menu{
		position: fixed;
		padding-left: 30px;
		height: 100px;
		width: 100%;
		top: 0;
		background: rgb(243, 242, 242);
		text-align: center;
		justify-content: right;
		padding-top: 40px;
		display: none;
		transition: ease-in-out 0.2s;
	}
	.navbar .menu.active{
		right: 0;
		display: inline-block;
	}
	.navbar .menu .menu-right{
		float: left;
	}
	.navbar .menu li{
		display: inline-block;
	}
	.navbar .menu li a{
		display: block;
		margin: 10px 0;
		font-size: 18px;
	}
	.navbar-pages .menu{
		position: fixed;
		padding-left: 30px;
		height: 80px;
		width: 100%;
		top: 0;
		background: rgb(243, 242, 242);
		text-align: center;
		justify-content: right;
		padding-top: 23px;
		display: none;
	}
	.navbar-pages .menu.active{
		right: 0;
		display: inline-block;
	}
	.navbar-pages .menu .menu-right{
		float: left;
	}
	.navbar-pages .menu li{
		display: inline-block;
	}
	.navbar-pages .menu li a{
		display: block;
		margin: 10px 0;
		font-size: 18px;
	}
}

@media only screen and (min-device-width:768px) and (max-device-width:1024px) and (orientation:landscape){
	.max-width{
		max-width: 1024px;
	}
	.max-width2{
		max-width: 1000px;
	}
	.navbar{
		padding: 25px 0;
		height: 82px;
	}
	.navbar .menu li a{
		font-size: 16.5px;
	}
	.fa-inbox {
		font-size: 18px;
	}
	.fa-sign-out-alt{
		font-size: 18px;
	}
	.fa-sign-in-alt{
		font-size: 18px;
	}
	.navbar-pages{
		padding: 25px 0;
		height: 82px;
	}
	.navbar-pages .menu li a{
		font-size: 16px;
	}
	.menu-bars{
		display: inline-block;
		z-index: 2000;
		margin-top: -3%;
	}
	.menu-bars:hover{
		color: #027ca1;
		transition: ease-in-out 0.3s;
	}
	.menu-bars i.active::before{
		content:"\f00d";
	}
	.navbar .menu{
		position: fixed;
		padding-left: 30px;
		height: 100px;
		width: 100%;
		top: 0;
		background: rgb(243, 242, 242);
		text-align: center;
		justify-content: right;
		padding-top: 40px;
		display: none;
	}
	.navbar .menu.active{
		right: 0;
		display: inline-block;
	}
	.navbar .menu .menu-right{
		float: left;
	}
	.navbar .menu li{
		display: inline-block;
	}
	.navbar .menu li a{
		display: block;
		margin: 10px 0;
		font-size: 18px;
	}
	.navbar-pages .menu{
		position: fixed;
		padding-left: 30px;
		height: 80px;
		width: 100%;
		top: 0;
		background: rgb(243, 242, 242);
		text-align: center;
		justify-content: right;
		padding-top: 23px;
		display: none;
	}
	.navbar-pages .menu.active{
		right: 0;
		display: inline-block;
	}
	.navbar-pages .menu .menu-right{
		float: left;
	}
	.navbar-pages .menu li{
		display: inline-block;
	}
	.navbar-pages .menu li a{
		display: block;
		margin: 10px 0;
		font-size: 18px;
	}
	.mainpage .mainpage-left h1{
		font-size: 60px;
		line-height: 1.5em;
	}
	.mainpage .mainpage-right img{
		height: 200px;
	}
	.mainpage .mainpage-right button{
		margin-left: 5%;
		width: 175px;
		height: 55px;
		font-size: 22px;
	}
	.fa-quote-left{
		font-size: 18px;
	}
	.mainpage .quotediv p{
		font-size: 22px;
	}
	.mainpage .quotediv span{
		font-size: 17px;
	}
	.mainpage .quotediv{
		margin-bottom: -3%;
	}
	.mainpage-bottom h5{
		font-size: 24px;
	}
	.mainpage-bottom .img200px{
		height: 185px;
	}
	.mainpage-bottom .img220px{
		height: 205px;
	}
	.mainpage-bottom .img230px{
		height: 215px;
	}
	.as-a-rater{
		padding-top: 13%;
		height: 95vh;
	}
	.footer p{
		font-size: 36px;
	}
	.footer-login a{
		font-size: 21px;
	}
	.footer-register a{
		font-size: 21px;
	}
	.specificidea{
		padding-top: 12%;
	}
	.allchats{
		padding-top: 10%;
	}
	.allchats h2{
		padding: 4% 0% 16% 7%;
	}
	.chatheading h4{
		font-size: 26px;
		padding-top: 0.2%;
	}
	.chatheading a{
		font-size: 19px;
	}
	.messages-area{
		padding: 2% 3% 0% 3%;
	}
	.message .content{
		font-size: 18px;
	}
}
@media only screen and (min-device-width:768px) and (max-device-width:1024px) and (orientation:portrait){
	.max-width{
		max-width: 768px;
	}
	.max-width2{
		max-width: 750px;
	}
	.navbar{
		padding: 25px 0;
		height: 75px;
		width: 768px;
	}
	.navbar.sticky{
		height:70px;
	}
	.navbar.sticky .logo h1{
		font-size: 36px;
	}
	.navbar .logo h1{
		font-size: 38px;
	}
	.navbar .logo img{
		height: 45px;
		padding-right: 5px;
	}
	.navbar .menu li a{
		font-size: 16.5px;
	}
	.fa-inbox {
		font-size: 18px;
	}
	.fa-sign-out-alt{
		font-size: 18px;
	}
	.fa-sign-in-alt{
		font-size: 18px;
	}
	.navbar-pages{
		padding: 23px 0;
		height: 78px;
		max-width: 768px;
	}
	.navbar-pages .menu li a{
		font-size: 16px;
	}
	.menu-bars{
		display: inline-block;
		z-index: 2000;
		margin-top: -3%;
	}
	.menu-bars:hover{
		color: #027ca1;
		transition: ease-in-out 0.3s;
	}
	.menu-bars i.active::before{
		content:"\f00d";
	}
	.navbar .menu{
		position: fixed;
		padding-left: 30px;
		height: 100px;
		width: 100%;
		top: 0;
		background: rgb(243, 242, 242);
		text-align: center;
		padding-top: 40px;
		display: none;
	}
	.navbar .menu.active{
		right: 0;
		display: inline-block;
	}
	.navbar .menu .menu-right{
		float: left;
	}
	.navbar .menu li{
		display: inline-block;
	}
	.navbar .menu li a{
		display: block;
		margin: 10px 0;
		font-size: 17px;
	}
	.navbar-pages .menu{
		position: fixed;
		padding-left: 30px;
		height: 80px;
		width: 100%;
		top: 0;
		background: rgb(243, 242, 242);
		text-align: center;
		justify-content: right;
		padding-top: 23px;
		display: none;
	}
	.navbar-pages .menu.active{
		right: 0;
		display: inline-block;
	}
	.navbar-pages .menu .menu-right{
		float: left;
	}
	.navbar-pages .menu li{
		display: inline-block;
	}
	.navbar-pages .menu li a{
		display: block;
		margin: 10px 0;
		font-size: 17px;
	}
	.mainpage .max-width{
		height: 55vh;
	}
	.mainpage .mainpage-left h1{
		font-size: 55px;
		line-height: 1.4em;
	}
	.mainpage .mainpage-right img{
		height: 185px;
	}
	.mainpage .mainpage-right button{
		width: 145px;
		height: 46px;
		font-size: 19px;
	}
	.fa-quote-left{
		font-size: 15px;
	}
	.mainpage .quotediv p{
		font-size: 18px;
	}
	.mainpage .quotediv span{
		font-size: 14px;
	}
	.mainpage .quotediv{
		margin-bottom: -3%;
	}
	.mainpage-bottom h5{
		font-size: 20px;
	}
	.mainpage-bottom .img200px{
		height: 170px;
	}
	.mainpage-bottom .img220px{
		height: 180px;
	}
	.mainpage-bottom .img230px{
		height: 190px;
	}
	.as-a-user h3{
		font-size: 58px;
	}
	.as-a-user h5{
		font-size: 20px;
	}
	.as-a-user .postdescription .postdesctitle{
		font-size: 27px;
	}
	.as-a-user .postdescription .postdescdesc{
		font-size: 18px;
	}
	.as-a-rater .ratedescription .ratedesctitle{
		font-size: 27px;
	}
	.as-a-rater .ratedescription .ratedescdesc{
		font-size: 18px;
	}
	.footer p{
		font-size: 32px;
	}
	.footer-login a{
		font-size: 17px;
	}
	.footer-register a{
		font-size: 17px;
	}
	.ideaboard{
		padding-top: 13%;
	}
	.leaderboard{
		padding-top: 13%;
	}
	.categories{
		padding-top: 13%;
	}
	.specificidea{
		padding-top: 13%;
	}
	.specificidea .heading-right-btn button{
		height: 34px;
		font-size: 16px;
		font-weight: 600;
	}
	.ideanotauthtrack{
		width: 76px;
	}
	.ideanotauthlike{
		width: 76px;
		margin-right: 3px;
	}
	.approve{
		width: 76px;
		margin-right: -3px;
	}
	.approved{
		width: 76px;
		margin-right: -3px;
	}
	.favourite{
		width: 77px;
	}
	.favourited{
		width: 77px;
	}
	.connect{
		width: 88px;
		margin-left: 1%;
	}
	.connect a{
		font-size: 16px;
		font-weight: 600;
	}
	.fa-envelope-open-text {
		font-size: 15px;
	}
	.fa-chart-line {
		font-size: 16px;
	}
	.specificidea .fa-thumbs-up{
		font-size: 16px;
	}
	#like-logononowner{
		font-size: 22px;
	}
	#like-logoowner{
		font-size: 22px;
	}
	.heading-right h5{
		font-size: 30px;
	}
	.edit{
		width: 70px;
	}
	.update{
		width: 82px;
	}
	.fa-wrench{
		font-size: 15px;
	}
	.fa-pen{
		font-size: 15px;
	}
	.post{
		padding-top: 13%;
	}
	.post form{
		font-size: 21px;
		width: 80vw;
	}
	
	.allchats{
		padding-top: 15%;
	}
	.allchatheading h2{
		font-size: 34px;
	}
	.allchatheadingroom h2{
		font-size: 34px;
	}
}
@media screen and (max-width:415px) and (orientation:portrait){
	.max-width{
		max-width: 411px;
		padding: 0 30px;
		width: 100vw;
		margin: 0%;
	}
	.max-width2{
		max-width: 411px;
		padding: 10px 10px;
		width: 100vw;
		margin: 0%;
	}
	.navbar{
		height: 65px;
		max-width: 411px;
		padding: 20px 0;
		max-width: 100vw;
	}
	.navbar .logo{
		padding-top: 2%;
	}
	.navbar .logo h1{
		font-size: 32px;
	}
	.navbar .logo img{
		height: 35px;
		padding-right:7px;
	}
	.navbar .menu li a{
		font-size: 13px;
	}
	.navbar .menu li:not(.idea-dropdown) a{
		margin-left: 8px;
		margin-top: 0px;
	}
	.navbar .menu .menu-right{
		margin-left: 150px;
	}
	.navbar-pages .menu .menu-right{
		margin-left: 150px;
	}
	.navbar .menu{
		padding-left: 12px;
	}
	.fa-inbox{
		font-size: 15px;
	}
	.fa-sign-in-alt{
		font-size: 15px;
	}
	.fa-sign-out-alt{
		font-size: 15px;
	}
	.navbar-pages{
		height: 73px;
		padding: 20px 0;
		max-width: 411px;
	}
	.navbar-pages .logo{
		padding-top: 2%;
	}
	.navbar-pages .logo h1{
		font-size: 32px;
	}
	.navbar-pages .logo img{
		height: 35px;
		padding-right:7px;
	}
	.navbar-pages .menu li a{
		font-size: 13px;
	}
	.navbar-pages .menu li:not(.idea-dropdown) a{
		margin-left: 8px;
		margin-top: 0px;
	}
	.navbar-pages .menu{
		padding-left: 12px;
	}
	.menu-bars{
		margin-top: -10%;
	}
	.menu-bars i{
		font-size: 15px;
	}
	.fa-inbox{
		font-size: 15px;
	}
	#fa-inbox-pages{
		font-size: 15px;
	}
	.mainpage .max-width{
		display: inline-block;
	}
	.mainpage .mainpage-left h1{
		font-size: 38px;
		line-height: 1.2em;
		padding-top: 25%;
		text-align: center;
	}
	.mainpage .mainpage-right img{
		height: 0px;
	}
	.mainpage .mainpage-right{
		display: flex;
		margin-left: 3%;
		padding-top: 0%;
	}
	.mainpage .mainpage-right button{
		margin: 5px;
	}
	.mainpage .mainpage-right .rate{
		background-color: rgba(4, 4, 180, 0.938);
		color: white;
	}
	.fa-quote-left{
		font-size: 13px;
	}
	.mainpage .quotediv p{
		font-size: 17px;
	}
	.mainpage .quotediv span{
		font-size: 14px;
	}
	.mainpage-bottom h3{
		font-size: 40px;
	}
	.mainpage-bottom .firstrow{
		display: inline-block;
	}
	.mainpage-bottom .secondrow{
		display: inline-block;
	}
	.mainpage-bottom img{
		margin: auto;
	}
	.mainpage-bottom #long2ndpic{
		margin-left: -40px;
	}
	.mainpage-bottom .secondrow .divlastpic{
		margin-top: 0px;
	}
	.as-a-user h3{
		font-size: 45px;
	}
	.as-a-user h5{
		width: 90%;
	}
	.as-a-user .postdescription{
		display: inline-block;
	}
	.as-a-user .postdescription .image111{
		width: 100%;
		margin: auto;
	}
	.as-a-rater{
		height: 100%;
		padding: 20px;
	}
	.as-a-rater .ratedescription{
		display: inline-block;
		margin-top: 20%;
		margin-right: 3%;
	}
	.as-a-rater .ratedescription .ratedesc{
		text-align: right;
		margin: auto;
	}
	.as-a-rater .ratedescription .image112{
		width: 105%;
	}
	.as-a-rater .ratedescription .image113{
		width: 100%;
		margin: auto;
		margin-left: -3%;
	}
	.ideaboard .idea1st .fa-crown{
		color: #ffd700; 
		font-size: 27px;
	}
	.ideaboard .idea2nd .fa-crown{
		color: #BBC2CC; 
		font-size: 25px;
	}
	.ideaboard .idea3rd .fa-crown{
		color: #E4953C; 
		font-size: 23px;
	}
	#mainpage-ideaboard h2{
		font-size: 36px;
	}
	.ideaboard{
		padding-top: 20%;
	}
	.ideaboard h2{
		font-size: 34px;
	}
	.ideaboard .idea h4{
		font-size: 26px;
	}
	.ideaboard .idea .idea-content{
		max-height: 80px;
	}
	.ideaboard .idea .idea-content p::after{
		height: 1.7em;
	}
	.ideaboard .idea-details .idea-category{
		font-size: 15px;
	}
	.ideaboard .idea h6{
		font-size: 18px;
	}
	.ideaboard .idea h5{
		font-size: 18px;
	}
	.idea-details .fa-thumbs-up{
		font-size: 19px;
	}
	.fa-comment{
		font-size: 18px;
	}
	.fa-chart-line {
		font-size: 19px;
	}
	.fa-wrench {
		font-size: 19px;
	}
	.ideaboard .idea-timestamp li{
		font-size: 13px;
	}
	.ideaboard .idea1st h4{
		font-size: 26px;
	}
	.ideaboard .idea1st .idea-content{
		max-height: 80px;
	}
	.ideaboard .idea1st .idea-content p::after{
		height: 1.7em;
	}
	.ideaboard .idea1st h6{
		font-size: 18px;
	}
	.ideaboard .idea1st h5{
		font-size: 18px;
	}
	.ideaboard .idea2nd h4{
		font-size: 26px;
	}
	.ideaboard .idea2nd .idea-content{
		max-height: 80px;
	}
	.ideaboard .idea2nd .idea-content p::after{
		height: 1.7em;
	}
	.ideaboard .idea2nd h6{
		font-size: 18px;
	}
	.ideaboard .idea2nd h5{
		font-size: 18px;
	}
	.ideaboard .idea3rd h4{
		font-size: 26px;
	}
	.ideaboard .idea3rd .idea-content{
		max-height: 80px;
	}
	.ideaboard .idea3rd .idea-content p::after{
		height: 1.7em;
	}
	.ideaboard .idea3rd h6{
		font-size: 18px;
	}
	.ideaboard .idea3rd h5{
		font-size: 18px;
	}
	.categories{
		padding-top: 20%;
	}
	.categories h2{
		font-size: 36px;
	}
	.categories .category-name{
		font-size: 20px;
	}
	.categories .category-name i{
		font-size: 19px;
		padding: 2%;
	}
	.post{
		padding-top: 21%;
	}
	.post hr{
		width: 80vw;
	}
	.post form{
		font-size: 19px;
		width:80vw;
	}
	.allchats{
		padding-top: 23%;
		display: inline-block;
	}
	.chatslist{
		height: 30vh;
		overflow: scroll;
		width: 85vw;
	}
	.allchatheading h2{
		font-size: 28px;
	}
	.allchatheadingroom h2{
		font-size: 28px;
	}
	.specificchat .username{
		font-size: 20px;
	}
	.specificchat .posttitle{
		font-size: 18px;
	}
	.chat{
		width: 85vw;
		margin-top: 3%;
		height: 55vh;
	}
	.messages-area{
		height: 42vh;
	}
	.chatheading h4{
		font-size: 25px;
	}
	.chatheading a{
		font-size: 18px;
	}
	.message .sent-by{
		font-size: 16px;
	}
	.message .sent-by span{
		font-size: 13.5px;
	}
	.message .content{
		font-size: 17.5px;
	}
	.specificidea{
		padding-top: 16%;
		width: 85vw;
		max-width: 85vw;
	}
	.specificidea .specificidea-heading{
		padding-left: 3vw;
		display: inline-block;
	}
	.specificidea-heading .heading-left{
		width: 85vw;
		text-align: center;
		align-items: center;
	}
	.specificidea .specificidea-heading .heading-left h1{
		font-size: 26px;
		margin-bottom: -5%;
	}
	.specificidea .specificidea-heading .heading-right{
		display: flex;
	}
	.specificidea .specificidea-heading .heading-left{
		width: 100%;
	}
	#like-logononowner{
		margin-top: 4.5%;
	}
	#like-logoowner{
		margin-top: 4.5%;
	}
	.specificidea .post{
		padding-top: 18%;
	}
	.specificidea .post form{
		width: 80vw;
	}
	.register{
		padding-top: 23%;
	}
	.register h2{
		font-size: 38px;
	}
	.register form input{
		max-width: 85vw;
	}
	.register .form-group input{
		font-size: 20px;
	}
	.register .register-btn{
		height: 45px;
		width: 100px;
		font-size: 21px;
	}
	.register h6{
		font-size: 20px;
	}
	.login{
		padding-top: 23%;
	}
	.login h2{
		font-size: 38px;
	}
	.login form input{
		max-width: 85vw;
	}
	.login .form-group input{
		font-size: 20px;
	}
	.login .login-btn{
		height: 45px;
		width: 100px;
		font-size: 21px;
	}
	.login h6{
		font-size: 20px;
	}
	.quotediv{
		width: 80vw;
		height: 80px;
		margin-left: 4%;
	}
}
@media screen and (max-width:375px) and (orientation:portrait){
	.max-width{
		max-width: 375px;
	}
	.max-width2{
		max-width: 375px;
	}
	.mainpage .mainpage-right{
		margin-left: -1.2%;
	}
	.quotediv{
		width: 80vw;
		height: 80px;
		margin-left: 4%;
	}
	.fa-quote-left{
		padding-bottom: 2%;
		font-size: 11px;
	}
}
@media screen and (max-width:812px) and (orientation:landscape){
	.max-width{
		max-width: 100vw;
	}
	.max-width2{
		max-width: 100vw;
	}
	.mainpage .max-width{
		height: 700px;
	}
	.as-a-user{
		height: 750px;
	}
	.as-a-rater{
		height: 700px;
	}
	.allchats{
		height: 500px;
		padding-top: 16%;
		padding-bottom: 3%;
	}
	.chatslists{
		height: 427px;
	}
	.allchatheading{
		height: 70px;
	}
	.allchatheadingroom{
		height: 70px;
	}
	.chat{
		height: 500px;
	}
	.chatheading{
		height: 70px;
	}
	.messages-area{
		height: 400px;
	}
	.input-area{
		height: 80px;
	}
	.ideaboard{
		padding-top: 13%;
	}
	.leaderboard{
		padding-top: 13%;
	}
	.categories{
		padding-top: 13%;
	}
}
@media screen and (min-device-width:1200px) and (max-device-width:1600px) and (-webkit-min-device-pixel-ratio: 1) {
	.navbar{
		padding: 30px 0;
		height: 80px;
	}
	.navbar.sticky{
		height: 70px;
	}
	.mainpage .max-width{
		height: 700px;
	}
	.as-a-user{
		height: 1000px;
		padding-top: 0%;
	}
	.as-a-user img{
		max-height: 600px;
	}
	.as-a-user h3{
		font-size: 60px;
	}
	.as-a-user h5 {
		font-size: 23px;
		padding-bottom: 3%;
	}
	.as-a-rater{
		height: 900px;
	}
	.as-a-rater .image113{
		max-height: 850px;
	}
	.modal{
		padding-top: 150px;
	}
}